<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
 <web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>NuevoProductoServlet</servlet-name>
  	<display-name>NuevoProductoServlet</display-name>
  	<description></description>
  	<servlet-class>com.educacionit.web.servlet.NuevoProductoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewProductoServlet</servlet-name>
  	<display-name>NewProductoServlet</display-name>
  	<description></description>
  	<servlet-class>com.educacionit.web.servlet.NewProductoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.educacionit.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EliminarProductoServlet</servlet-name>
  	<display-name>EliminarProductoServlet</display-name>
  	<description></description>
  	<servlet-class>com.educacionit.web.servlet.EliminarProductoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BaseServlet</servlet-name>
  	<display-name>BaseServlet</display-name>
  	<description></description>
  	<servlet-class>com.educacionit.web.servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CargarParaEditarProductoServlet</servlet-name>
  	<display-name>CargarParaEditarProductoServlet</display-name>
  	<description></description>
  	<servlet-class>com.educacionit.web.servlet.CargarParaEditarProductoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActualizarProductoServlet</servlet-name>
  	<display-name>ActualizarProductoServlet</display-name>
  	<description></description>
  	<servlet-class>com.educacionit.web.servlet.ActualizarProductoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BuscarProductoServlet</servlet-name>
  	<display-name>BuscarProductoServlet</display-name>
  	<description></description>
  	<servlet-class>com.educacionit.web.servlet.BuscarProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NuevoProductoServlet</servlet-name>
  	<url-pattern>/NuevoProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewProductoServlet</servlet-name>
  	<url-pattern>/NewProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EliminarProductoServlet</servlet-name>
  	<url-pattern>/EliminarProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BaseServlet</servlet-name>
  	<url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CargarParaEditarProductoServlet</servlet-name>
  	<url-pattern>/CargarParaEditarProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActualizarProductoServlet</servlet-name>
  	<url-pattern>/ActualizarProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BuscarProductoServlet</servlet-name>
  	<url-pattern>/BuscarProductoServlet</url-pattern>
  </servlet-mapping>  
 </web-app>